/* MAIN PAGE & GLOBAL*/
* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../images/theater_seats.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.clear-floats {
    clear: both;
    display: block;
}


#input-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-form {
    height: 100px !important;
    width: 100%;
}

form {
    width: 100%;
}

#input-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-container {
    background-color: rgba(0, 0, 0, .5);
}

#input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

#output, #user-text {
    justify-content: center;
    align-items: center;
    color: lightgray;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

/* ABOUT PAGE */

.summary h3, h1 {
    color: antiquewhite;
    margin-left: 20px;
}

.summary p {
    color: rgb(202, 191, 177);
    margin-left: 20px;
}