<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis Explained</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>


<body>
    <!---Nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
        <a class="navbar-brand" href="/">Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
            </ul>
        </div>
    </nav>

    <div class="container h-100">
        <div class="row justify-content-center h-100">

            <div class="col-md-6 h-100" id="background-container">

                <div class="row justify-content-center">
                    <div class=summary id="Title" class="col-md-12">
                        <h1>Sentiment Analysis</h1>
                        <hr>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class=summary id="project-description" class="col-md-12">
                        <p>For this machine learning project, a database containing 50,000 movie reviews from IMDb was chosen to preform sentiment analysis on a user inputed 'custom' review. Below are the details of the approach and models used. </p>
                        <p>Using sci-kit learn, we trained two seperate machine learning models. One using Naive Bayes, and the other Support Vector Machine. After comparing the preformance of both models on the same testing dataset, we found that the SVM model was the most accurate, at about 89.5% accurate. To further support our choice, we also tested a rules based sentiment analysis and compared its results to the same test dataset, which were significantly lower than the machine learning approach, at about 69.5%. Once we found our model, we saved it and implemented it into this web-page that allows a user to test their own custom review.</p>
                    </div>
                </div>

                <div class="row justify-content-left">
                    <div class=summary id="nb-model-title" class="col-md-12">
                        <h3>Naive Bayes Model</h3>
                    </div>

                    <div class=summary id="nb-model-desc" class="col-md-6">
                        <p>To start, we seperated the dataset into testing and training data using scikit-learn's 'test_train_split'. Next a pipeline was created to process the text. Sklearn's CountVectorizer allowed us to break the reviews into a matrix of token counts. Then, using the tfidfTransformer, also from sklearn, we gave each token a weight, which is calculated using the difference between the number of times the word appears in each review, and the number of occurrences among all reviews. The final step in our pipeline was adding the Naive Bayes model. After running the training data through the pipeline and fitting it to the model, we ran it against our testing data which resulted in an <strong>86.5% accuracy</strong>.</p>
                    </div>

                    <div class="summary col-md-6">
                        <table id="nb-confusion-matrix">
                            <caption>Naive Bayes Confusion Matrix</caption>
                            <tr>
                                <th></th>
                                <th>POSITIVE</th>
                                <th>NEGATIVE</th>
                            </tr>
                            <tr>
                                <th>POSITIVE</th>
                                <td class="correct">5430</td>
                                <td class="incorrect">960</td>
                            </tr>
                            <tr>
                                <th>NEGATIVE</th>
                                <td class="incorrect">727</td>
                                <td class="correct">5383</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row justify-content-left">
                    <div class=summary id="svm-model-title" class="col-md-12">
                        <h3>Support Vector Machine Model</h3>
                    </div>
                    <div class=summary id="svm-model-desc" class="col-md-6">
                        <p>Testing the Support Vector Machine model was reletivley easy considering we had our pipeline set up. The only change that was necessary was switching from a Naive Bayes model to SVM. The process was the same after that. We ran our training data through the new pipeline, and fit it to the model. After testing against the testing data, we achieved an <strong>89.5% accuracy</strong>. This ended up being the strongest model, and was thus chosen for our page. </p>
                    </div>
                    <div class="summary col-md-6">
                        <table id="svm-confusion-matrix">
                            <caption>SVM Confusion Matrix</caption>
                            <tr>
                                <th></th>
                                <th>POSITIVE</th>
                                <th>NEGATIVE</th>
                            </tr>
                            <tr>
                                <th>POSITIVE</th>
                                <td class="correct">5390</td>
                                <td class="incorrect">544</td>
                            </tr>
                            <tr>
                                <th>NEGATIVE</th>
                                <td class="incorrect">767</td>
                                <td class="correct">5799</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row justify-content-left">
                    <div class=summary id="rules-based-title" class="col-md-12">
                        <h3>Rules Based Analysis</h3>
                    </div>
                    <div class=summary id="rules-based-desc" class="col-md-6">
                        <p>We also wanted to try a non machine learning approach for comparison. For this approach, there was no risk of overfitting, so we did not split the data into training and testing sets like before. Instead, we used the VADER library, which includes a Sentiment Analyzer. Using a set of pre-defined rules, it finds the number of positive and negative words in each review, and calculates a sentiment. Vader provides us with positive and negative results, as well as neutral, and compound scores, which can be thought of as its 'overall' prediction. We went through all 50,000 reviews and checked if the compound score was above or below 0. Then we compared the predicted results with the provided classifiers, and found that this approach achieved <strong>69.6% accuracy</strong>.</p>
                    </div>
                    <div class="summary col-md-6">
                        <table id="rules-based-confusion-matrix">
                            <caption>Rules-Based Confusion Matrix</caption>
                            <tr>
                                <th></th>
                                <th>POSITIVE</th>
                                <th>NEGATIVE</th>
                            </tr>
                            <tr>
                                <th>POSITIVE</th>
                                <td class="correct">13271</td>
                                <td class="incorrect">3479</td>
                            </tr>
                            <tr>
                                <th>NEGATIVE</th>
                                <td class="incorrect">11729</td>
                                <td class="correct">21521</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>


        </div>
    </div>





    <!---footer-->
    <footer class="footer">
        <span class="bottom" style="font-size:18px;font-weight:bold;color:rgba(170, 170, 170, 0.7);">
            Mike Absher, Jordan Wright, & Nina Paljakka-Cargo
        </span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>